/*Global Styles*/
body {
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    background-color: rgba(30 30 80);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(30,30,80);
    padding-top: 3%;
    justify-content: center;
    align-items: center;    
}

/* Make sizing include padding/border so percentage widths don't overflow */
*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

/* Nav Bar */
nav {
    width: 90vw;
    border: 2px solid white;
    border-radius: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    top: 0;
}

nav a {
    transition-duration: 0.6s;
    font-size: 2em;
    text-decoration: none;
    color: white;
    width: 100%;
    align-self: center;
    border-radius: inherit;
}

nav a:hover {
    color: rgba(102 102 214);
    background-color: white;
}

/* Components */
main {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 5%;
    overflow-x: hidden;
    margin-top: 10vh;
}




.currentPage {
    background-color: rgba(102, 102, 214, 0.644);
    color: pink;
}

footer {
    position: absolute;
    bottom: 30px;
    color: white;
}
