



main a {
    margin: 0 3%;
    display: flex;
    justify-content: center;
    overflow: hidden
}

img {
    transition-duration: .3s;
    height: 15vh;
    border: solid rgb(30 30 80) 5%;
    border-radius: 50%;
}

img:hover {
    transition-duration: 0.5s;
    border-color: rgb(102, 102, 214);
    /* background-color: rgba(241, 233, 233, 0.356) */
}

