

#honourText {
    max-width: 75vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    color: rgb(30,30,80);
    font-size: 2em;
    margin-bottom: 20px;
}